/* font style code */

.azeret-mono-regular {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
  /* font style code end */

  /* all margin padding zero */
  *{
    margin: 0;
    padding: 0;
  }

  /* Common or shared style start */
  .body-margin{
    margin: 0 150px;
  }
  
  .btn-primary{
    padding: 24px 21px;
    background-color: #0D1321;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
  }
  .btn-secondary{
    padding: 24px 21px;
    /* background-color: #0D1321; */
    color: #0D1321;
    border: 1px solid #0D1321;;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
  }
 .primary-color{
    color: rgba(13, 19, 33, 100%);

 }
 .secondary-color{
    color: rgba(13, 19, 33, 70%);
    /* color: #0d132180 */

 }
  /* Common or shared style end */